<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/master_feed.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="div-errores" id="div-errores">
        <div class="exclamacion">
            <p id="p-exclamacion">!</p>
        </div>
        <p id="p-errores"></p>
    </div>
    <div class="modal-cerrar-sesion" id="modal-cerrar-sesion">
        <div class="modal-cerrar-sesion-content">
            <span class="close">&times;</span>
            <form action="" method="post" class="form-nav">
                {% csrf_token %}
                <input name="peticion" type="hidden" value="{{ form_cerrar_sesion }}">
                <p id="p-cerrar-sesion"><strong>¿Seguro que deseas cerrar tu sesion?</strong></p>
                <div class="botonera-cerrar-sesion">
                    <div class="botones-botonera">
                        <button id="boton-cancelar-cerrar-sesion">
                            <strong>Cancelar</strong>
                        </button>
                        <button id="boton-cerrar-sesion" type="submit">
                            <strong>Cerrar sesion</strong>
                        </button>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="modal-comentarios" id="modal-comentarios">

        <div class="modal-comentarios-content">
            <span id="close-comentarios" class="close">&times;</span>
            <h2 id="title-comentarios">Comentarios</h2>
            <p id="no-coments"></p>
            <div class="container-comentario" id="container-comentario"></div>
            <div class="comentar">
                <form action="" method="post" id="form-enviar-comentario">
                    {% csrf_token %}
                    {{ form_add_comentario.as_p }}
                    <div class="enviar-comentario" id="enviar-comentario">

                        <input type="hidden" name="id_post_comentar" id="id_post_coment">
                        <input type="hidden" name="peticion" value="{{ form_comentar }}">

                        <button type="submit" id="boton-enviar-comentario">
                            <strong>Enviar</strong>
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="container" id="container">
        <header>

            <div class="logo">
                <strong><a href="/feed/" id="logo">Privato</a></strong>
            </div>
            <div class="container-navbar">
                <nav class="navbar" id="navbar">

                    <div class="derecha">



                        <div class="container-navs-usuario">
                            <form id="form-perfil" action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="peticion" value="{{ form_perfil }}">
                            </form>
                            <img src="{{ avatar }}" class="avatar-imagen" id="avatar-imagen" alt="">
                        </div>



                        <form id="form-buscar" action="" method="post" class="form-nav">
                            {% csrf_token %}
                            <input name="peticion" type="hidden" value="{{ form_buscar }}">
                            <div class="container-nav-buscar">
                                {{ form_add_busqueda.as_p }}
                                <button class="derecha-nav-buscar" id="buscar-btn">
                                    <img class="imagen-nav" src="{% static 'img/buscar.png' %}" alt="">
                                </button>
                            </div>
                        </form>

                        <div class="container-navs">
                            <button class="derecha-nav" id="noti_btn">
                                {% if notificaciones is None or notificaciones|length == 0 %}
                                <img class="imagen-nav-noti" src="{% static 'img/noti_vacia.png' %}" alt="">
                                {% else %}
                                <img class="imagen-nav-noti" src="{% static 'img/noti.png' %}" alt="">
                                {% endif %}
                            </button>
                        </div>




                        <div class="container-navs-salir">
                            <button class="derecha-nav" id="salir-nav-der">
                                <img class="imagen-nav" src="{% static 'img/salir.png' %}" alt="">
                            </button>
                        </div>



                </nav>
            </div>

        </header>
        <main>
            <section>
                <div class="modal" id="modal">
                    <div class="modal-content">
                        <span id="close-notis" class="close">&times;</span>
                        <h2 id="title-noti">Notificaciones</h2>
                        <p id="no-notis"></p>
                        {% if notificaciones is None or notificaciones|length == 0 %}
                        <p>No hay notificaciones recientes</p>
                        {% else %}
                        {% for noti in notificaciones %}
                        <form action="" method="post" id="form_noti-{{ noti.id }}">
                            {% csrf_token %}
                            <div class="container-noti">

                                <div class="p-notis">
                                    <p id="p-contenido-notis"><strong id="strong-noti">{{noti.username_emisor}}</strong>
                                        {{ noti.mensaje }}</p>
                                </div>

                                <input type="hidden" name="peticion" value="{{ notificacion }}">

                                <div class="botonera-notis">
                                    <button id="aceptar_noti-{{ noti.id }}" type="submit" name="peticion"
                                        value="{{ aceptar_notificacion }}" class="aceptar-noti">
                                        <img id="imagen_aceptar_noti-{{ noti.id }}" class="imagen-nav"
                                            src="{% static 'img/aceptar.png' %}" alt="Aceptar">
                                    </button>

                                    <button id="denegar_noti-{{ noti.id }}" type="submit" name="peticion"
                                        value="{{ denegar_notificacion }}" class="denegar-noti">
                                        <img id="imagen_denegar_noti-{{ noti.id }}" class="imagen-nav"
                                            src="{% static 'img/denegar.png' %}" alt="Denegar">
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </section>
            <section class="feed">
                <div class="container-feed">
                    <div class="container-posts-anteriores" id="contenedor-posts"></div>
            </section>
        </main>
    </div>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/feed.js' %}"></script>
<script>

    function agregarNuevoPost(title, user, fecha, contenido, comentarios, avatar, id_post) {



        var nuevoPostHTML = `

    <div class="post-anterior" id="post_anterior-` + id_post + `">` +
            `<div class="contenedor-general-post">` +
            `<div class="contenedor-avatar-post">
                <img src="` + avatar + `"` + `" class="miniatura-avatar" alt="">
            </div>` +
            `<div class="contenedor-post-anterior">` +
            `<div class="titulo-fecha">` +
            `<p class="user-post-anterior"><strong>` + user + `</strong></p>` +
            `<p class="title-post-anterior"><strong>` + title + `</strong></p>` +
            `<p class="fecha-post-anterior">` + fecha + `</p>` +
            `</div>` +
            `<p class="contenido-post-anterior">` + contenido + `</p>` +
            `<div class="comentarios">` +
            `<div class="comentarios-post-anterior">

                <form action="" method="post" id="form-comentarios">
                    {% csrf_token %}
                <input value="{{ form_comentarios }}" name="peticion" type="hidden">` +

            `<button id=` + `'boton_comentario-` + id_post + `'` + `class="boton-comentario">` +
            `<img id=` + `'imagen_comentario-` + id_post + `'` + `class="imagen-comentario"
            src="{% static 'img/comentario_op2.png' %}" alt="">
        </button>
            </form >

        <div class="mensaje-comentarios">
            <p>` + comentarios + `</p>
        </div>` +

            `</div > ` +
            `</div > ` +
            `</div > ` +
            `</div>`;


        $("#contenedor-posts").prepend(nuevoPostHTML);

        comentarEventsListeners()

    }


    function agregarComentario(data) {

        if (data.success == true) {

            html_comentario = `
                <div class="comentario">

                <div class="container-general-comentario">

                <div class="contenedor-avatar-comentario">
                <img src="` + data.src_avatar + `"` + `class="miniatura-avatar " alt="">
                </div> 

                <div class="comentario-data">
                <p class="fecha-comentario">` + data.fecha + `</p>  
                <p class="contenido-comentario">
                <strong class="strong-usuario-comentario">` + data.username + `:  ` + `</strong>`
                + data.content +
                `</p>
                </div>

                </div>` +

                `</div>`


            $("#container-comentario").prepend(html_comentario);

            p_no_coments = document.getElementById('no-coments')
            textarea_input = document.getElementById("textarea-comentario")

            p_no_coments.textContent = ""
            textarea_input.value = ""
        }

        else {
            blurBackground(action = "unblur")
            modal.style.display = 'none';
            errorHandler(error = data.reason)
        }
    }


    function cargarComentarios(data) {

        document.getElementById('container-comentario').innerHTML = ""
        id_post_input = document.getElementById('id_post_coment')

        p_no_coments = document.getElementById('no-coments')


        if (data.esDiccionario == true) {

            var lista_comentarios = data.comentarios

            p_no_coments.textContent = ""

            Object.keys(lista_comentarios).forEach(function (clave) {

                if (clave != 'id_post') {

                    var usuario = lista_comentarios[clave][0];
                    var contenido = lista_comentarios[clave][1];
                    var fecha = lista_comentarios[clave][2];
                    var src_avatar = lista_comentarios[clave][3];



                    html_comentario = `
<div class="comentario">

<div class="container-general-comentario">

<div class="contenedor-avatar-comentario">
<img src="` + src_avatar + `"` + ` class="miniatura-avatar" alt="">
</div> 

<div class="comentario-data">
<p class="fecha-comentario">` + fecha + `</p>  
<p class="contenido-comentario">
<strong class="strong-usuario-comentario">` + usuario + `:  ` + `</strong>`
                        + contenido +
                        `</p>
</div>

</div>` +

                        `</div>`

                    $("#container-comentario").prepend(html_comentario);
                }

            });

        }
        else {
            p_no_coments.textContent = "No se encontraron comentarios en el post"

        }

        id_post_input.value = data.comentarios['id_post']
    }


    var posts_amigos = {{ posts_amigos| safe}}

    Object.keys(posts_amigos).forEach(function (clave) {

        for (let i = 0; i < posts_amigos[clave].length; i++) {
            var title = posts_amigos[clave][i][0];
            var contenido = posts_amigos[clave][i][1];
            var fecha = posts_amigos[clave][i][2];
            var comentarios = posts_amigos[clave][i][3];
            var avatar = posts_amigos[clave][i][4];
            var id_post = posts_amigos[clave][i][5];

            agregarNuevoPost(title = title, user = clave, fecha = fecha, contenido = contenido, comentarios = comentarios, avatar = avatar, id_post = id_post)

        }


    });
    // logica para agregar los posts a el feed

    errorHandler("{{ error }}")
    notificacionesAddEvent()
    comentarEventsListeners()
</script>

</html>