<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="div-errores" id="div-errores">
        <div class="exclamacion">
            <p id="p-exclamacion">!</p>
        </div>
        <p id="p-errores"></p>
    </div>
    <div class="modal-comentarios" id="modal-comentarios">


        <div class="modal-comentarios-content">
            <span id="close-comentarios" class="close">&times;</span>
            <h2 id="title-comentarios">Comentarios</h2>
            <p id="no-coments"></p>
            <div class="container-comentario" id="container-comentario"></div>
            <div class="comentar">
                <form action="" method="post" id="form-enviar-comentario">
                    {% csrf_token %}
                    {{ form_add_comentario.as_p }}
                    <div class="enviar-comentario" id="enviar-comentario">

                        <input type="hidden" name="id_post_comentar" id="id_post_coment">
                        <input type="hidden" name="peticion" value="{{ form_comentar }}">

                        <button type="submit" id="boton-enviar-comentario">
                            <strong>Enviar</strong>
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="container" class="container">
        <header>
            <nav class="navbar" id="navbar">
                <div class="logo">
                    <strong><a href="/feed/" id="logo">Privato</a></strong>
                </div>
            </nav>
        </header>
        <main>
            <section class="perfil">
                <div class="cabecera-perfil">
                    <form id="form_avatar" action="" method="post">
                        <input type="hidden" value="{{ form_avatar }}" name="peticion">
                        {% csrf_token %}
                        <img src="{{ avatar }}" class="avatar-imagen" id="avatar-imagen" alt="">
                        <div id="mensaje-avatar">Cambiar avatar</div>
                        <div class="estadisticas">
                            <p id="username" class="user-stats"><strong>{{ username }}</strong></p>
                            <p class="user-stats"><strong>{{ num_posts }}</strong> Posts</p>
                            <p class="user-stats"><strong>{{ amigos }}</strong> Amigos</p>
                        </div>
                    </form>

                </div>
            </section>
            <section class="posts">
                <div class="container-posts">
                    <div class="nuevo-post">
                        <form id="form-post" class="form-post" method="post">
                            <h1 class="header-post">Nueva publicacion</h1>
                            <input type="hidden" value="{{ form_post }}" name="peticion">
                            {% csrf_token %}
                            {{ form_add_post.as_p }}
                            <div class="form-group">
                                <div id="contador-caracteres" class="contador-caracteres">0/950</div>
                            </div>
                            <div class="form-group">
                                <button class="boton-add-post" id="save-post-btn">
                                    <p>Subir publicacion</p>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--POST ANTIGUOS-->
                    <div class="posts-anteriores">
                        <h1 class="header-post">Posts anteriores</h1>
                        <div id="contenedor-posts" class="container-posts-anteriores">
                            {% for post in posts %}

                            <div class="post-anterior" id="post_anterior-{{ post.id }}">
                                <div class="contenedor-general-post">

                                    <div class="contenedor-avatar-post">
                                        <div class="avatar-post">
                                            <img src="{{ avatar }}" class="miniatura-avatar" alt="">
                                        </div>
                                    </div>

                                    <div class="contenedor-post-anterior">

                                        <div class="titulo-fecha">
                                            <p class="title-post-anterior"><strong>{{ post.title }}</strong></p>
                                            <p class="fecha-post-anterior">{{ post.fecha }}</p>
                                        </div>

                                        <p class="contenido-post-anterior">{{ post.contenido }}</p>
                                        <div class="comentarios">
                                            <div class="eliminar-post">
                                                <form action="" method="post" id="form-eliminar-post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="peticion"
                                                        value="{{ form_eliminar_post }}">
                                                    <button class="boton-eliminar-post" id="eliminar_post-{{ post.id }}"
                                                        type="submit">
                                                        <img class="imagen-eliminar-post"
                                                            id="imagen_eliminar_post-{{ post.id }}"
                                                            src="{% static 'img/eliminar.png' %}" alt="">
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="comentarios-post-anterior">

                                                <form action="" method="post" id="form-comentarios">
                                                    {% csrf_token %}

                                                    <input value="{{ form_comentarios }}" name="peticion" type="hidden">
                                                    <button id="boton_comentario-{{ post.id }}"
                                                        class="boton-comentario">
                                                        <img id="imagen_comentario-{{ post.id }}"
                                                            class="imagen-comentario"
                                                            src="{% static 'img/comentario_op2.png' %}" alt="">
                                                    </button>
                                                </form>

                                                <div class="mensaje-comentarios">
                                                    <p>{{ post.comentarios }}</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </section>
        </main>
    </div>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/perfil.js' %}"></script>

<script>


    function agregarComentario(data) {

        if (data.success == true) {

            html_comentario = `
<div class="comentario">

<div class="container-general-comentario">

<div class="contenedor-avatar-comentario">
<img src="` + data.src_avatar + `"` + `class="miniatura-avatar " alt="">
</div> 

<div class="comentario-data">
<p class="fecha-comentario">` + data.fecha + `</p>  
<p class="contenido-comentario">
<strong class="strong-usuario-comentario">` + data.username + `:  ` + `</strong>`
                + data.content +
                `</p>
</div>

</div>` +

                `</div>`


            $("#container-comentario").prepend(html_comentario);

            p_no_coments = document.getElementById('no-coments')
            textarea_input = document.getElementById("textarea-comentario")

            p_no_coments.textContent = ""
            textarea_input.value = ""
        }

        else {
            blurBackground(action = "unblur")
            modal.style.display = 'none';
            errorHandler(error = data.reason)
        }
    }


    function cargarComentarios(data) {

        document.getElementById('container-comentario').innerHTML = ""
        id_post_input = document.getElementById('id_post_coment')

        p_no_coments = document.getElementById('no-coments')


        if (data.esDiccionario == true) {

            var lista_comentarios = data.comentarios

            p_no_coments.textContent = ""

            Object.keys(lista_comentarios).forEach(function (clave) {

                if (clave != 'id_post') {

                    var usuario = lista_comentarios[clave][0];
                    var contenido = lista_comentarios[clave][1];
                    var fecha = lista_comentarios[clave][2];
                    var src_avatar = lista_comentarios[clave][3];



                    html_comentario = `
<div class="comentario">

<div class="container-general-comentario">

<div class="contenedor-avatar-comentario">
  <img src="` + src_avatar + `"` + ` class="miniatura-avatar" alt="">
</div> 

<div class="comentario-data">
<p class="fecha-comentario">` + fecha + `</p>  
<p class="contenido-comentario">
<strong class="strong-usuario-comentario">` + usuario + `:  ` + `</strong>`
                        + contenido +
                        `</p>
</div>

</div>` +

                        `</div>`

                    $("#container-comentario").prepend(html_comentario);
                }

            });

        }
        else {
            p_no_coments.textContent = "No se encontraron comentarios en el post"

        }

        id_post_input.value = data.comentarios['id_post']
    }


    function agregarNuevoPost(data) {

        if (data.success == true) {

            var nuevoPostHTML = `
            <div class="post-anterior" id="post_anterior-` + data.post_id.toString() + `">` +
                `<div class="contenedor-general-post">` +
                `<div class="contenedor-avatar-post">
                        <img src="{{ avatar }}" class="miniatura-avatar" alt="">
                    </div>` +
                `<div class="contenedor-post-anterior">` +
                `<div class="titulo-fecha">` +
                `<p class="title-post-anterior"><strong>` + data.post_title + `</strong></p>` +
                `<p class="fecha-post-anterior">` + data.post_fecha + `</p>` +
                `</div>` +
                `<p class="contenido-post-anterior">` + data.post_contenido + `</p>` +
                `<div class="comentarios">` +
                `<div class="eliminar-post">
                                                <form action="" method="post" id="form-eliminar-post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="peticion"
                                                        value="{{ form_eliminar_post }}">
                                                    <button class="boton-eliminar-post" id="eliminar_post-{{ post.id }}"
                                                        type="submit">
                                                        <img class="imagen-eliminar-post"
                                                            id="imagen_eliminar_post-{{ post.id }}"
                                                            src="{% static 'img/eliminar.png' %}" alt="">
                                                    </button>
                                                </form>
                                            </div>` +
                `<div class="comentarios-post-anterior">

                        <form action="" method="post" id="form-comentarios">
                            {% csrf_token %}
                        <input value="{{ form_comentarios }}" name="peticion" type="hidden">` +

                `<button id=` + `'boton_comentario-` + data.post_id.toString() + `'` + `class="boton-comentario">` +
                `<img id=` + `'imagen_comentario-` + data.post_id.toString() + `'` + `class="imagen-comentario"
                    src="{% static 'img/comentario_op2.png' %}" alt="">
                </button>
                    </form >

                <div class="mensaje-comentarios">
                    <p>` + data.post_comentarios.toString() + `</p>
                </div>` +

                `</div > ` +
                `</div > ` +
                `</div > ` +
                `</div>`;


            $("#contenedor-posts").prepend(nuevoPostHTML);
            comentarEventsListeners()
            eliminarPostsEventsListeners()
        }
        else {
            errorHandler(error = data.reason)
        }


    }


    function eliminarHTMLPost(data) {
        if (data.success == true) {

            id_post_anterior = '#post_anterior-' + data.id_post.toString()

            cerrarPost(id_post_anterior)

            $(id_post_anterior).fadeOut(300, function () {
                $(id_post_anterior).remove();
            });


        }
        else {
            errorHandler(error = data.reason)
        }
    }


    var id_posts = JSON.parse('{{ ids_posts | escapejs }}')

    errorHandler("{{ error }}")
    comentarEventsListeners()
    eliminarPostsEventsListeners()

</script>

</html>