<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="modal-comentarios" id="modal-comentarios">
        <span id="close-comentarios" class="close">&times;</span>

        <div class="modal-comentarios-content">
            <h2 id="title-comentarios">Comentarios</h2>
            <p id="no-coments"></p>
            <div class="container-comentario" id="container-comentario">
            </div>
            </form>
        </div>
    </div>
    <div id="container" class="container">
        <header>
            <nav class="navbar" id="navbar">
                <div class="logo">
                    <strong><a href="/feed/" id="logo">Privato</a></strong>
                </div>
            </nav>
        </header>
        <main>
            <section class="perfil">
                <div class="cabecera-perfil">
                    <form id="form_avatar" action="" method="post">
                        <input type="hidden" value="{{ form_avatar }}" name="peticion">
                        {% csrf_token %}
                        <div id="avatar-container" class="grid-container" type="submit">

                            {% for i in rango %}
                            <div id="box{{ i }}" class="grid-item"></div>
                            {% endfor %}
                        </div>
                        <div id="mensaje-avatar">Cambiar avatar</div>
                        <div class="estadisticas">
                            <p id="username" class="user-stats"><strong>{{ username }}</strong></p>
                            <p class="user-stats"><strong>{{ num_posts }}</strong> Posts</p>
                            <p class="user-stats"><strong>{{ amigos }}</strong> Amigos</p>
                        </div>
                    </form>

                </div>
            </section>
            <section class="posts">
                <div class="container-posts">
                    <div class="div-errores" id="div-errores">
                        <div class="exclamacion">
                            <p id="p-exclamacion">!</p>
                        </div>
                        <p id="p-errores"></p>
                    </div>
                    <div class="nuevo-post">
                        <form id="form-post" class="form-post" method="post">
                            <h1 class="header-post">Nueva publicacion</h1>
                            <input type="hidden" value="{{ form_post }}" name="peticion">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group">
                                <div id="contador-caracteres" class="contador-caracteres">0/950</div>
                            </div>
                            <div class="form-group">
                                <button class="boton-add-post" id="save-post-btn">
                                    <p>Subir publicacion</p>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--POST ANTIGUOS-->
                    <div class="posts-anteriores">
                        <h1 class="header-post">Posts anteriores</h1>
                        <div id="contenedor-posts" class="container-posts-anteriores">
                            {% for post in posts %}
                            <div class="post-anterior">
                                <div class="titulo-fecha">
                                    <p class="title-post-anterior"><strong>{{ post.title }}</strong></p>
                                    <p class="fecha-post-anterior">{{ post.fecha }}</p>
                                </div>
                                <p class="contenido-post-anterior">{{ post.contenido }}</p>
                                <div class="comentarios">
                                    <div class="comentarios-post-anterior">

                                        <form action="" method="post" id="form-comentarios">
                                            {% csrf_token %}

                                            <input value="{{ form_comentarios }}" name="peticion" type="hidden">
                                            <button id="boton_comentario-{{ post.id }}" class="boton-comentario">
                                                <img id="imagen_comentario-{{ post.id }}" class="imagen-comentario"
                                                    src="{% static 'img/comentario_op2.png' %}" alt="">
                                            </button>
                                        </form>

                                        <div class="mensaje-comentarios">
                                            <p>{{ post.comentarios }}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </section>
        </main>
    </div>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/perfil.js' %}"></script>

<script>

    function agregarNuevoPost(data) {

        var nuevoPostHTML = `<div class="post-anterior">` +
            `<p class="title-post-anterior"><strong>` + data.post_title + `</strong></p>` +
            `<p class="fecha-post-anterior">` + data.post_fecha + `</p>` +
            `<p class="contenido-post-anterior">` + data.post_contenido + `</p>` +
            `<div class="comentarios">` +
            `<div class="comentarios-post-anterior">

                    <form action="" method="post" id="form-comentarios">
                        {% csrf_token %}
                    <input value="{{ form_comentarios }}" name="peticion" type="hidden">` +

            `<button id=` + `'boton_comentario-` + data.post_id.toString() + `'` + `class="boton-comentario">` +
            `<img id=` + `'imagen_comentario-` + data.post_id.toString() + `'` + `class="imagen-comentario"
                src="{% static 'img/comentario_op2.png' %}" alt="">
            </button>
                </form >

            <div class="mensaje-comentarios">
                <p>{{ post.comentarios }}</p>
            </div>` +

            `</div > ` +
            `</div > `;

        $("#contenedor-posts").prepend(nuevoPostHTML);
        comentarEventsListeners()

    }


    var lista_colores = JSON.parse('{{ colores | escapejs }}');
    var id_posts = JSON.parse('{{ ids_posts | escapejs }}')
    rellenarAvatar(lista_colores)
    errorHandler("{{ error }}")
    comentarEventsListeners()

</script>

</html>