<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/persona.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="div-errores" id="div-errores">
        <div class="exclamacion">
            <p id="p-exclamacion">!</p>
        </div>
        <p id="p-errores"></p>
    </div>
    <div class="modal-comentarios" id="modal-comentarios">


        <div class="modal-comentarios-content">
            <span id="close-comentarios" class="close">&times;</span>
            <h2 id="title-comentarios">Comentarios</h2>
            <p id="no-coments"></p>
            <div class="container-comentario" id="container-comentario"></div>
            <div class="comentar">
                <form action="" method="post" id="form-enviar-comentario">
                    {% csrf_token %}
                    {{ form_add_comentario.as_p }}
                    <div class="enviar-comentario" id="enviar-comentario">

                        <input type="hidden" name="id_post_comentar" id="id_post_coment">
                        <input type="hidden" name="peticion" value="{{ form_comentar }}">

                        <button type="submit" id="boton-enviar-comentario">
                            <strong>Enviar</strong>
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="container" , id="container">
        <header>
            <nav class="navbar" id="navbar">
                <div class="logo">
                    <strong><a href="/feed/" id="logo">Privato</a></strong>
                </div>
            </nav>
        </header>
        <main>
            <section class="perfil">
                <div class="cabecera-perfil">
                    <img src="{{ avatar }}" class="avatar-imagen" id="avatar-imagen" alt="">
                    <div class="estadisticas">
                        <p id="username" class="user-stats"><strong>{{ username }}</strong></p>
                        <p id="num-posts" class="user-stats"><strong>{{ num_posts }}</strong> Posts</p>
                        <p class="user-stats"><strong>{{ amigos }}</strong> Amigos</p>
                    </div>

                    <form id="form-agregar" action="" method="post" class="form-agregar">
                        {% csrf_token %}
                        <input name="peticion" type="hidden" value="{{ form_agregar }}">
                        <div class="container-agregar">
                            <button class="agregar-btn" id="agregar-btn">
                                {{ estado_seguimiento }}
                            </button>
                        </div>
                    </form>

                </div>
            </section>
            <section class="posts">
                <div class="container-posts">
                    <!--POST ANTIGUOS-->
                    <div class="posts-anteriores">
                        {% if son_amigos %}
                        <h1 class="header-post">Posts anteriores</h1>
                        <div class="container-posts-anteriores">
                            {% for post in posts %}
                            <div class="post-anterior" id="post_anterior-{{ post.id }}">
                                <div class="contenedor-general-post">

                                    <div class="contenedor-avatar-post">
                                        <img src="{{ avatar }}" class="miniatura-avatar" alt="">
                                    </div>

                                    <div class="contenedor-post-anterior">
                                        <div class="titulo-fecha">
                                            <p class="title-post-anterior"><strong>{{ post.title }}</strong></p>
                                            <p class="fecha-post-anterior">{{ post.fecha }}</p>
                                        </div>
                                        <p class="contenido-post-anterior">{{ post.contenido }}</p>
                                        <div class="comentarios">
                                            <div class="comentarios-post-anterior">

                                                <form action="" method="post" id="form-comentarios">
                                                    {% csrf_token %}

                                                    <input value="{{ form_comentarios }}" name="peticion" type="hidden">
                                                    <button id="boton_comentario-{{ post.id }}"
                                                        class="boton-comentario">
                                                        <img id="imagen_comentario-{{ post.id }}"
                                                            class="imagen-comentario"
                                                            src="{% static 'img/comentario_op2.png' %}" alt="">
                                                    </button>
                                                </form>

                                                <div class="mensaje-comentarios">
                                                    <p>{{ post.comentarios }}</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p class="header-no-amigos">
                            Para ver los posts de <strong id="strong-no-amigos">{{ username }}</strong> debes ser su
                            amigo
                        </p>
                        {% endif %}
                    </div>

                </div>
            </section>
        </main>
    </div>
</body>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/persona.js' %}"></script>
<script>


    function agregarComentario(data) {

        if (data.success == true) {

            html_comentario = `
<div class="comentario">

<div class="container-general-comentario">

<div class="contenedor-avatar-comentario">
<img src="` + data.src_avatar + `"` + `class="miniatura-avatar " alt="">
</div> 

<div class="comentario-data">
<p class="fecha-comentario">` + data.fecha + `</p>  
<p class="contenido-comentario">
<strong class="strong-usuario-comentario">` + data.username + `:  ` + `</strong>`
                + data.content +
                `</p>
</div>

</div>` +

                `</div>`


            $("#container-comentario").prepend(html_comentario);

            p_no_coments = document.getElementById('no-coments')
            textarea_input = document.getElementById("textarea-comentario")

            p_no_coments.textContent = ""
            textarea_input.value = ""
        }

        else {
            blurBackground(action = "unblur")
            modal.style.display = 'none';
            errorHandler(error = data.reason)
        }
    }


    function cargarComentarios(data) {

        document.getElementById('container-comentario').innerHTML = ""
        id_post_input = document.getElementById('id_post_coment')

        p_no_coments = document.getElementById('no-coments')


        if (data.esDiccionario == true) {

            var lista_comentarios = data.comentarios

            p_no_coments.textContent = ""

            Object.keys(lista_comentarios).forEach(function (clave) {

                if (clave != 'id_post') {

                    var usuario = lista_comentarios[clave][0];
                    var contenido = lista_comentarios[clave][1];
                    var fecha = lista_comentarios[clave][2];
                    var src_avatar = lista_comentarios[clave][3];



                    html_comentario = `
<div class="comentario">

<div class="container-general-comentario">

<div class="contenedor-avatar-comentario">
<img src="` + src_avatar + `"` + ` class="miniatura-avatar" alt="">
</div> 

<div class="comentario-data">
<p class="fecha-comentario">` + fecha + `</p>  
<p class="contenido-comentario">
<strong class="strong-usuario-comentario">` + usuario + `:  ` + `</strong>`
                        + contenido +
                        `</p>
</div>

</div>` +

                        `</div>`

                    $("#container-comentario").prepend(html_comentario);
                }

            });

        }
        else {
            p_no_coments.textContent = "No se encontraron comentarios en el post"

        }

        id_post_input.value = data.comentarios['id_post']
    }


    var id_posts = JSON.parse('{{ ids_posts | escapejs }}')
    errorHandler("{{ error }}")
    colorBoton(id = "agregar-btn", color = "{{ color_boton_seguir }}")
    comentarEventsListeners()


</script>

</html>