@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 12px;
}

body {
    font-size: 1rem;
}


.modal-cerrar-sesion {
    display: none;
    z-index: 1;
    width: 60%;
    height: 25%;
    align-items: center;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid #c5c5c5;
}


.modal-cerrar-sesion-content {
    width: 100%;
}


#p-cerrar-sesion {
    margin-top: 15px;
    margin-bottom: 40px;
    font-family: 'Silkscreen', sans-serif;
    color: #f04856;
    font-size: 18px;
    text-align: center;
}


.botonera-cerrar-sesion {
    align-items: center;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.botones-botonera {
    display: inline-flex;
    width: 100%;
}

.botones-botonera button {
    width: 35%;
    height: 35px;
    word-wrap: break-word;
    outline: none;
    border: 0px;
    transition: ease opacity 0.3s;
    margin: 5px;
    font-family: 'Geologica', sans-serif;
}

.botones-botonera button:hover {
    opacity: 0.5;
    cursor: pointer;
}

#boton-cancelar-cerrar-sesion {
    float: left;
    background-color: #cac9c9;
    margin-left: 10%;
    margin-right: 5%;
    color: #6e6e6e;
}

#boton-cerrar-sesion {
    background-color: #f36470;
    margin-right: 10%;
    margin-left: 5%;
    color: #fff;

}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container main {
    height: 100vh;
    width: 100%;
}

.container header {
    height: 40px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #c7c7c7;
    position: fixed;
    background-color: #fff;
}


/* LOGO */

.logo {
    margin-left: 10px;
    margin-top: 5px;
    width: 100px;
    float: left;
}


#logo {
    font-family: 'Silkscreen', sans-serif;
    color: #038554;
    font-size: 20px;
    transition: ease 0.5s opacity;
    width: 100px;
    text-decoration: none;
    outline: none;
}

#logo:hover {
    cursor: pointer;
    opacity: 0.5;
}

#logo:visited {
    color: #038554;
}


/* NAVBAR */

.derecha {
    display: inline-flex;
    align-items: center;
    max-height: 35px;
    margin-top: 4px;
    width: 100%;
    column-gap: 5px;
}

.container-navs,
.form-nav,
.izquierda-nav-buscar,
.container-navs-usuario {
    margin-right: 5px;
}

.container-navs-salir {
    margin-right: 10px;
}

.form-nav-config {
    margin-right: 2px;
}

.izquierda-nav-buscar {
    height: 25px;
    width: 75px;
    outline: 0;
    border: 0;
    font-size: 13px;
    float: left;
}

.container-navbar {
    float: right;
    max-height: 35px;
}

.navbar {
    display: inline-block;
    max-height: 35px;
    width: 100%;
}

.imagen-nav {
    height: 18px;
    aspect-ratio: 1;
    border-radius: 20%;
}

.imagen-nav-noti {
    height: 20px;
    aspect-ratio: 1;
    border-radius: 20%;
}




.derecha-nav {
    transition: opacity 0.5s ease;
    border: 0;
    border-radius: 10%;
    float: right;
    background-color: transparent;
}

.derecha-nav:hover {
    opacity: 0.5;
    cursor: pointer;
}

.container-nav-buscar {
    float: left;
    display: inline-flex;
}

.derecha-nav-buscar {
    transition: opacity 0.5s ease;
    border: 0;
    border-radius: 10%;
    float: right;
    background-color: transparent;

}

#buscar-btn {
    margin-top: 2px;
}

.derecha-nav-buscar:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* AVATAR */

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 0px;
    width: 30px;
    aspect-ratio: 1;
    margin: 0 auto;
    float: left;
    margin-right: auto;
    margin-left: auto;
    background-color: #e9e7e7;
    border: 1px solid #c7c7c7;
    padding: 1px;
    transition: opacity 0.5s ease;
}

.grid-container:hover {
    opacity: 0.5;
    cursor: pointer;
}

.grid-item {
    background-color: #e9e7e7;
}


/* MODAL NOTIFICACIONES */

.modal {
    display: none;
    z-index: 1;
    width: 320px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid #c5c5c5;
}

.modal-content {
    background-color: #fff;
    padding: 15px;
    width: 300px;
    height: 300px;
    font-family: 'Silkscreen', sans-serif;
    color: #038554;
    margin: auto;
}

.modal-content p {
    font-family: 'Geologica', sans-serif;
    margin-top: 30px;
    color: #000;
}

.close {
    font-family: 'Silkscreen', sans-serif;
    float: right;
    cursor: pointer;
    font-size: 20px;
    margin-right: 3px;
}

.close:hover {
    color: #000;
}


#noti_btn {
    outline: none;
    box-shadow: none;
}


#strong-noti {
    color: #038554;
}


.title-noti {
    font-size: 20px;
}

.container-noti {
    display: inline-block;


}

.p-notis {
    float: left;
    word-wrap: break-word;
    width: 80%;
    height: auto;
    font-size: 14px;
}


.botonera-notis {
    width: 20%;
    height: auto;
    float: right;
    margin-top: 30px;
}

.aceptar-noti,
.denegar-noti {
    background-color: transparent;
    outline: none;
    border: 0px;
    transition: ease opacity 0.2s;
}

.aceptar-noti,
.denegar-noti:hover {
    cursor: pointer;
    opacity: 0.5;
}

.div-errores {
    display: inline-block;
    font-family: 'Geologica', sans-serif;
    font-size: 13px;
    width: auto;
    padding-right: 10px;
    height: auto;
    border-radius: 5px;
    background-color: #f78b94;
    color: #ffffff;
    opacity: 0.9;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p-errores {
    margin-top: 3px;
}

.exclamacion {
    height: 25px;
    aspect-ratio: 1;
    border-radius: 25%;
    color: rgb(235, 69, 69);
    background-color: #f36470;
    float: left;
    margin-right: 5px;
    text-align: center;
}

#p-exclamacion {
    margin-top: 3px;
}

@media only screen and (max-width: 768px) {
    .div-errores {
        width: 100%;
        left: 0;
        transform: none;
        text-align: center;
    }

    #p-cerrar-sesion {
        font-family: 'Silkscreen', sans-serif;
        color: #f04856;
        font-size: 13px;
        text-align: center;
    }

    #p-cerrar-sesion {
        margin-top: 15px;
        margin-bottom: 40px;
        font-family: 'Silkscreen', sans-serif;
        color: #f04856;
        font-size: 14px;
        text-align: center;
    }

    .modal-cerrar-sesion {
        display: none;
        z-index: 1;
        width: 60%;
        height: 22%;
        align-items: center;
        align-content: center;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        overflow-y: auto;
        border: 1px solid #c5c5c5;
    }

    .exclamacion {
        float: left;
    }
}

.feed {
    background-color: #ffffff;
    margin-top: 45px;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.header-post {
    font-family: 'Silkscreen', sans-serif;
    font-size: 15px;
    color: #038554;
    margin-bottom: 7px;
    margin-top: 15px;
}


.posts-anteriores {
    width: 75%;
    margin-left: 20px;
    margin-right: 18px;
    border-bottom: 1px solid #c4c3c3;
    margin-top: 2px;
    padding-bottom: 30px;
}

.post-anterior {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #d6d6d6;
}

.title-post-anterior,
.contenido-post-anterior,
.fecha-post-anterior,
.comentarios-post-anterior {
    word-wrap: break-word;
}

.titulo-fecha {
    font-family: 'Geologica', sans-serif;
    margin-bottom: 10px;
}

.fecha-post-anterior {
    color: #a5a5a5;
    font-size: 13px;
    margin-top: 2px;
}

.title-post-anterior {
    font-size: 18px;
    color: #176134;
}

.contenido-post-anterior {
    font-family: 'Geologica', sans-serif;
    color: #353535;
    margin-bottom: 10px;
    font-size: 15px;
}


.comentarios {
    font-family: 'Geologica', sans-serif;
    display: inline-block;
    width: 70%;
    color: #176134;
    font-size: 16px;
}


.comentarios-post-anterior {
    float: left;
    display: flex;
}

.imagen-comentario {
    height: 15px;
    aspect-ratio: 1;
    margin-left: 3px;

}


.mensaje-comentarios {
    margin-left: 7px;
    font-size: 13px;
}


.boton-comentario {
    outline: none;
    border: 0;
    background-color: transparent;
    transition: ease opacity 0.2s;
}

.boton-comentario:hover {
    cursor: pointer;
    opacity: 0.5;
}